# Created by venv; see https://docs.python.org/3/library/venv.html

.venv/
.venv/lib/python3.13/site-packages/__pycache__/
.venv/lib/python3.13/site-packages/_sounddevice_data/
.venv/lib/python3.13/site-packages/cffi/
.venv/lib/python3.13/site-packages/cffi-2.0.0.dist-info/
.venv/lib/python3.13/site-packages/mutagen/
.venv/lib/python3.13/site-packages/mutagen-1.47.0.dist-info/
.venv/lib/python3.13/site-packages/PIL/

media/
media/fonts/
media/songs/
media/sounds/
media/sprites/
songs/
main.py
app_test.py
app_test2.py
app_test3.py